*{
    box-sizing: border-box;
}
body{
    font-family: tahoma
}
a{
    text-decoration: none;
    color: #FFF;
}

.control-buttons{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #2196f3db;  
}.control-buttons span,
.finish .content{
    position: absolute;
    left: 50%;
    top: 45%;
    transform:translate(-50%,-50%);
    color: #FFF;
    background: #f44336;
    padding: 15PX 25PX; 
    font-size: 30PX;
    text-align: center;
    border-radius: 2PX;
    cursor: pointer;
    transition: background-color .5s;
}.control-buttons span:hover{
    background: #d42c1f;
}
.info-containers{
    width: 1080px;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    overflow: hidden;
    border: 2px solid #2196f3;
    /* height: 60px;
    clear: both; */
}
.info-containers div{
    display: inline;
    padding: 20px;
}.info-containers .name{
    width: 30%;
    text-align: left;
    float: left;
}.info-containers .score-counter{
    width: 20%;
    text-align: left;
    float: left;
}.info-containers .counter{
    width: 25%;
    text-align: right;
    float: right;
}.info-containers .tries{
    width: 25%;
    text-align: right;
    float: right;
}
.memry-game-container {
    text-align:center;
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    margin: 20px auto;
}
.memry-game-container.no-clicking{
    pointer-events: none;
}
.memry-game-container .game-block{
    transition: transform .5s;
    height: 200px;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 250px;
    margin: 0 10px 20px; 
}
.memry-game-container .game-block .front{
    background-color: #333;
    line-break: 200px;
}
.memry-game-container .game-block .front:before{
   content: "!";
   color: #FFF;
   font-size: 140px;
   font-weight: bold
}
.memry-game-container .game-block .back{
   background-color: #607D8B;
   transform: rotateY(180deg);
}.memry-game-container .game-block .back img{
    width: 100%;
    height: 100%;
    /* margin-top: 30px; */
}.memry-game-container .game-block .face{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}
.memry-game-container .game-block.is-flipped,
.memry-game-container .game-block.has-matched{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* Finished */
.finish{
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #7fff00ad;
    display: none;
}
.finish .content  {
    background: #1f9901;
    cursor: unset;
    top: 45%;
}
.finish .content .alert {
    background: #2ac005;
    padding: 10px 35px;
    margin: 20px;
}
.finish .option .play-again,
.finish .option .exit-game,
.finish .option .next-page{
    padding: 7px 20px;
    font-size: 23px;
    float: left;
    margin: 20px;
    cursor: pointer;
    transition: background-color .5s;
}
.finish .option .play-again{
    background-color: #2196f3;
    float: left;
}
.finish .option .exit-game{
    background-color: #f44336;
    float: right;
}
.finish .option .next-page{
    background-color: #01ee08;
    float: left;
}
.finish .option .play-again:hover{
    background-color: #1678c9;
}
.finish .option .next-page:hover{
    background-color: #16c21c;
}
.finish .option .exit-game:hover{
    background-color: #be2d22;
}